/* element 组件问题修复 */
@import "./var.scss";

.base-nav,
.base-bg {
  background: $--base-theme-color;
  color: $--content-font-color;
}

.base-content {
  background: $--base-content-color;
  color: $--content-font-color;
}

.base-border {
  border-color: $--base-content-color;
}

.content-border {
  border-color: $--content-border-color;
}

.active-nav {
  background: $--lighter-content-color;
}

.info-content,.black-bg {
  background: $--heavier-content-color;
}

.title-font,
.base-font {
  color: $--title-font-color;
}

.second-font {
  color: $--content-font-color;
}

.light-font {
  color: $--tips-font-color;
}

.placeholder-font {
  color: $--content-font-color;
}

.light-icon {
  color: $--lighter-icon-color;
}

/* fix code 这部分代码是为了贴合视觉稿而存在 */

/*button 主要是文字按钮有一些问题*/
.el-button--text {
  color: $--button-primary;
  &:hover,
  &:focus {
    color: mix($--color-white, $--button-primary, $--button-active-shade-percent);
  }
}

/* radio TODO 是否要修复成视觉稿那种效果，还是在hive中单独处理 */
.el-radio-button:not(.is-disabled) {
  .el-radio-button__inner:hover {
    color: $--color-text-primary;
  }
}

.el-radio-button.is-disabled {
  .el-radio-button__inner {
    border: none;
  }
}

/*checkbox*/
.el-checkbox-button:not(.is-disabled) {
  .el-checkbox-button__inner:hover {
    color: $--color-text-primary;
  }
}

.el-checkbox-button:not(.is-disabled) {
  .el-checkbox-button__inner {
    border: none;
  }
}

.el-checkbox__inner::after {
  border-color: #fff;
}

/* input */
/*select*/
.el-select .el-input {
  font-size: 14px;
}

.el-select-dropdown.el-popper {
  margin: 0;
  padding: 0;
}

.el-select .el-input.el-input--suffix {
  color: $--color-text-primary;
}

/*tab*/
.el-tabs__item:not(.is-disabled):hover {
  color: $--active-font-color;
}

.el-tabs__item.is-active {
  color: $--active-font-color;
}

.el-tabs__active-bar {
  background: $--active-bar-color;
}

/* dialog*/
.el-dialog {
  border: 1px solid $--dialog-border-color;
}

/* table */
.el-table,
.el-table tr,
.el-table th {
  background: $--base-theme-color;
}

.el-table__empty-block {
  background: $--base-theme-color;
}

.el-table--striped .el-table__body tr.el-table__row--striped {
  td {
    background: $--lighter-content-color;
  }
  &:hover td {
    background: $--base-content-color;
  }
} 

.el-table .warning-row {
  
}

/* card */
.el-card {
  background-color: $--base-theme-color;
}

/* radio */
.el-radio__input.is-checked .el-radio__inner {
  border-color: $--active-bar-color;
  background-color: $--active-bar-color;
}

.el-radio__input.is-checked + .el-radio__label {
  color: $--title-font-color;
}

/*menu*/
.el-menu--horizontal > .el-menu-item:not(.is-disabled):hover,
.el-menu--horizontal > .el-menu-item:not(.is-disabled):focus,
.el-menu--horizontal > .el-submenu .el-submenu__title:hover {
  background: $--menu-item-hover-fill;
}

.el-menu-item.is-active {
  color: $--active-font-color;
}

.el-menu--horizontal > .el-menu-item {
  color: $--color-text-regular;
}

.el-menu--horizontal .el-menu .el-menu-item,
.el-menu--horizontal .el-menu .el-submenu__title {
  background: $--base-theme-color;
  color: $--color-text-regular;
}

/*autocomplete-suggestion*/
.el-autocomplete-suggestion {
  border: none;
  background: $--base-theme-color;
}

/*tabs*/
.el-tabs__item {
  color: $--color-text-secondary;
}

.el-tabs--card {
  .el-tabs__item.is-active {
    background: $--lighter-content-color;
  }
}

.el-tabs--card > .el-tabs__header .el-tabs__item.is-active {
  border-bottom-color: $--active-bar-color;
}

.el-tabs--border-card {
  background: $--base-theme-color;
  > .el-tabs__header .el-tabs__item {
    &:not(.is-disabled):hover {
      color: $--color-text-primary;
    }

    &.is-active {
      background-color: $--lighter-content-color;
      color: $--color-text-primary;
    }
  }
}

/*input_number*/
.el-input-number.is-disabled {
  .el-input-number__increase,
  .el-input-number__decrease {
    color: $--color-text-secondary;
  }
  &:hover {
    .el-input-number__increase,
    .el-input-number__decrease {
      color: $--color-text-secondary;
    }
  }
}

.el-input-number__increase:hover,
.el-input-number__decrease:hover {
  color: $--color-text-primary;
}

/*select*/
.el-select-dropdown__item.is-disabled:hover {
  background: $--color-primary;
}

/*picker*/
.el-picker-panel, .el-time-panel {
  background: $--color-primary;
}

.time-select-item.selected:not(.disabled) {
  color: $--color-text-primary;
}

.time-select-item.disabled {
  color: $--lighter-icon-color;
}

.el-time-spinner__arrow:hover {
  color: $--color-text-primary;
}

.el-range-editor .el-range-input {
  background: $--color-primary;
}

/*date-picker*/
.el-date-table,.el-month-table {
  td.today span, td.today .cell {
    color: $--color-text-primary;
  } 
  td.current:not(.disabled), 
  td.selected,td.start-date,td.end-date{
    span, .cell{
     color: $--color-primary;
    }
  }
}


.el-picker-panel *[slot=sidebar], .el-picker-panel__sidebar {
  background: $--color-primary;
  border-color: $--base-border-color;
}

.el-picker-panel__footer {
  background: $--color-primary;
}