/*全局样式*/
@import "./var.scss";

$--background-color-base: $--base-content-color;
$--border-color-base: $--base-border-color;
$--border-color-extra-light: $--lighter-border-color;
$--border-color-light: $--base-border-color;
$--border-color-lighter: $--lighter-border-color;
$--border-radius-base: 3px;
$--alert-border-radius: $--border-radius-base;
$--avatar-background-color: $--base-theme-color;
$--avatar-border-radius: $--border-radius-base;
$--backtop-background-color: $--color-primary;
$--backtop-font-color: $--title-font-color;
$--backtop-hover-background-color: $--lighter-content-color;
$--badge-background-color: $--color-primary;
$--button-default-background-color: $--button-default;
$--button-default-border-color: $--button-default;
$--button-default-font-color: $--color-white;
$--button-disabled-background-color: $--button-disable;
$--button-disabled-font-color: #999999;
$--button-font-size: 14px;
$--button-primary-background-color: $--button-primary;
$--button-primary-border-color: $--button-primary;
$--cascader-menu-font-color: #999999;
$--cascader-menu-selected-font-color: #FFFFFF;
$--collapse-border-color: #1A1A1A;
$--collapse-content-background-color: $--color-primary;
$--collapse-content-font-color: #C8C8C8;
$--collapse-content-font-size: 14px;
$--collapse-header-background-color: $--color-primary;
$--collapse-header-font-size: 16px;
$--datepicker-active-color: #FFFFFF;
$--datepicker-hover-font-color: #FFFFFF;
$--datepicker-inrange-background-color: $--slate-grey;
$--datepicker-inrange-hover-background-color: $--color-primary;
$--datepicker-off-font-color: #FFFFFF;
$--input-background-color: #1A1A1A;
$--link-primary-font-color: $--button-primary;
$--link-default-active-color: $--color-text-primary;
$--menu-background-color: $--color-primary;
$--menu-item-font-size: 16px;
$--messagebox-content-color: #C8C8C8;
$--messagebox-info-color: $--color-info;
$--pagination-background-color: $--color-primary;
$--pagination-button-color: #C8C8C8;
$--pagination-button-disabled-background-color: $--color-primary;
$--pagination-font-color: #C8C8C8;
$--pagination-hover-color: #FFFFFF;
$--popover-background-color: $--color-primary;
$--popover-border-color: #393A3D;
$--popup-modal-background-color: $--color-primary;
$--popup-modal-opacity: 0.5;
$--radio-button-checked-font-color: #FFFFFF;
$--select-input-focus-border-color: #2B2E2C;
$--select-option-selected-font-color: #FFFFFF;
$--switch-off-color: $--slate-grey;
$--switch-on-color: $--color-success;
$--table-border-color: #1A1A1A;
$--table-header-font-color: #FFFFFF;
$--tag-info-color: $--color-info;
$--tag-primary-color: $--color-primary;
$--tooltip-color: $--color-primary;
$--tooltip-fill: #FFFFFF;
$--font-weight-primary: 400;
$--button-hover-tint-percent: 26.5%;

/* 与主题无关样式 是一些布局的样式，比如margin、padding这些的 */ 
/*common*/
$--fill-base: $--color-primary; 
/*select*/
$--select-dropdown-background: $--color-primary;
$--select-option-hover-background: $--base-content-color;
$--select-option-disabled-background: $--color-primary;
$--select-group-color: $--color-text-secondary;
$--select-multiple-input-color: $--color-text-secondary;
/*dialog*/
$--dialog-background-color: $--color-primary; 
$--dialog-box-shadow: 0 2px 20px 0 $--dialog-box-shadow;
/*button*/
$--button-border-radius: 0px;
$--color-primary-light-7: transparent;
$--button-padding-vertical: 9px;
$--button-padding-horizontal: 26px;
$--button-font-size: 14px;
/* radio */
$--radio-disabled-input-fill: $--color-text-placeholder; 
$--radio-disabled-checked-input-fill: $--slate-grey;
$--radio-button-checked-background-color: $--button-primary;
/*check-box*/
$--checkbox-button-checked-background-color: $--button-primary;
$--checkbox-checked-font-color: $--color-text-primary; 
$--checkbox-checked-background-color: $--base-content-color;
$--checkbox-checked-input-border-color: $--base-content-color;
/*menu*/
$--menu-item-font-color: $--color-text-regular;
/*picker*/
/*tabs*/