/* 深色主题风格 */
$--base-theme-color: #2B2C2E;
$--title-font-color: #fff;
$--content-font-color: #C8C8C8;
$--tips-font-color: #999;
$--base-content-color: #1A1A1A;
$--heavier-content-color: #000;
$--lighter-content-color: #393A3D;
$--color-danger: #CC4053;
$--color-primary: #2B2C2E;
$--color-success: #31A86E;
$--color-warning: #D9A33A;
$--color-info: #909399;
$--lighter-icon-color: #76777A;
$--base-border-color: #1A1A1A;
$--lighter-border-color: #393A3D;
$--active-bar-color: #3377FF;
$--font-hover-color: $--title-font-color;
$--active-font-color: $--title-font-color;
$--dialog-border-color: #121212;
$--dialog-box-shadow: rgba(0,0,0,0.5);
$--input-border-color: $--lighter-border-color;
$--input-border-color-hover: $--color-primary;
