/* 深色主题风格 */
$--base-theme-color: #2B2C2E;
$--color-text-primary: #fff;
$--color-text-regular: #c8c8c8;
$--color-text-secondary: #999;
$--title-font-color: $--color-text-primary;
$--content-font-color: $--color-text-regular;
$--tips-font-color: $--color-text-secondary;
$--base-content-color: #1A1A1A;
$--heavier-content-color: #000;
$--lighter-content-color: #393A3D;
$--color-danger: #CC4053;
$--color-primary: #2B2C2E;
$--color-success: #31A86E;
$--color-warning: #D9A33A;
$--color-info: #4C4E52;
$--button-primary: #3377FF;
$--button-default: #4C4E52;
$--button-disable: #393A3D;
$--lighter-icon-color: #76777A;
$--base-border-color: #1A1A1A;
$--lighter-border-color: #393A3D;
$--active-bar-color: #3377FF;
$--font-hover-color: $--title-font-color;
$--active-font-color: $--title-font-color;
$--dialog-border-color: #121212;
$--dialog-box-shadow: rgba(0,0,0,0.5);
$--input-border-color: $--lighter-border-color;
$--input-border-color-hover: $--color-primary;
$--color-text-placeholder: $--color-text-secondary;
$--color-white: #fff;
$--active-border: 2px solid #3377FF;
$--menu-item-hover-fill: #393A3D;

/* 额外补充颜色 */ 
$--dark-grey: #202021;
$--dark-grey-two: #2e2f30;
$--slate-grey: #616366;